body{
    background-color: #E5E5E5;
    margin-left: 5rem;
}


#tittle{
color:#CE1414;    



}
#instructions{
color: #492626;




}
#button{
    background-color: green;
    color: black;
    font-size: 15px;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}
p{
    font-family: sans-serif;
    font-size: large;
}